@page
@model WebApp.Pages.Employee.ClientEmployeeModel
@{
    ViewData["Title"] = "ClentEmployee";
}

<h2>Client Employees</h2>

@section Scripts {

    <environment include="Development">
        <script src="E:\Paas\C#\Week-2\Practice\WebApp\node_modules\datatables.net\js\jquery.dataTables.js"></script>
        <script src="E:\Paas\C#\Week-2\Practice\WebApp\node_modules\datatables.net-bs\js\dataTables.bootstrap.js"></script>
        <link href="E:\Paas\C#\Week-2\Practice\WebApp\node_modules\datatables.net-bs\css\dataTables.bootstrap.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.11.4/datatables.min.css" />

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.11.4/datatables.min.js"></script>
    </environment>
    <script>
        $(function () {
            $.ajax("/api/employees/", { method: "get" })
                .then(function (response) {
                    console.dir(response);
                });
        });

    </script>
}