@page
@model WebApp.Pages.Project.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
    Layout = "_NotFoundLayout";
}

<h2>Project Not Found</h2>
<a asp-page="./Projects" class="btn btn-primary">All Projects</a>